{% extends "base.html" %}
{% block head %}
<title>4.8-Star Hotels in the UK | World Hotels UK</title>
<link rel="stylesheet" href="{{url_for("static", filename="css/user/4.8.css")}}">
{% endblock %}
{% block content %}
<div class="body">
    <div class="extra-space"></div>
    <div class="title text-white">FIND YOUR FAVORITE 4.8-STAR HOTEL</div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Hotel</th>
                <th>Address</th>
                <th>Hotline</th>
                <th>Services</th>
                <th>Ratings</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in hotels %}
                {% if hotel.Ratings == "4.8" %}
                <tr>
                    <td>{{ hotel.HID }}</td>
                    <td>{{ hotel.HName }}</td>
                    <td>{{ hotel.Address }}</td>
                    <td>{{ hotel.Hotline }}</td>
                    <td>{{ hotel.Services }}</td>
                    <td>{{ hotel.Ratings }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div class="extra-space"></div>
</div>
{% endblock %}


