{% extends "base.html" %}
{% block head %}
<title>About World Hotels UK</title>
<link rel="stylesheet" href="{{url_for("static", filename="css/aboutUs.css")}}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="glasgow-scotland-background">
                <div class="greetings text-black">
                    <p class="title">WELCOME TO OUR WORLD</p>
                    <p class="first-words">
                    <br>
                    A World where craftsmanship is celebrated, details are 
                    thoughtfully considered, and experiences are immersive. 
                    Where luxury blends seamlessly with authenticity, and 
                    the world outside inspires the one within.<br><br><br>
                    Never just a place to pass through, this is a place to 
                    truly connect with the soul of a city, the culture of a 
                    region and the wonders of nature. Discover a World of 
                    Difference™ at World Hotels.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row about-wh-world-of-care text-white">
        <div class="col">
            <div class="world-of-care">
                <p class="title">A WORLD OF CARE</p>
                <p class="description">
                With more than 50 years of service behind us, our 
                heritage of hospitality runs deep. You'll notice 
                it in the warm greetings from associates who 
                already feel like friends; design and decor that 
                amplify the region's natural beauty; and guestrooms 
                furnished with the finest amenities.
                </p>
            </div>
            <div class="background"></div>
        </div>
    </div>
    <div class="row about-wh-world-of-your-own text-white">
        <div class="col">
            <div class="background"></div>
            <div class="world-of-your-own">
                <p class="title">A WORLD OF YOUR OWN</p>
                <p class="description">
                We believe that luxury is in the eye of the beholder. 
                <br><br>For some, it enriches their soul through a day
                at the spa, while others find it in cultural experiences
                that broaden the mind. Whatever your vision of luxury
                looks like, we're here to bring it to life.
                </p>
            </div>
        </div>
    </div>
    <div class="row about-wh-world-of-connections text-white">
        <div class="col">
            <div class="world-of-connections">
                <p class="title">A WORLD OF <br>CONNECTIONS</p>
                <p class="description">
                Whether you're looking for seamless digital connections, 
                to connect with colleagues or industry professionals, we 
                believe the business traveler should be treated as 
                luxuriously as the leisure traveler. Through our hotels' 
                alluring ambiance and amenities, guests begin their day 
                inspired and rejuvenated.
                </p>
            </div>
            <div class="background"></div>
        </div>
    </div>
    <div class="row about-wh-world-of-good text-white">
        <div class="col">
            <div class="background"></div>
            <div class="world-of-good">
                <p class="title">A WORLD OF GOOD</p>
                <p class="description">
                We are committed to caring for Earth, People and our 
                Communities. Our hotels celebrate individuality and 
                diversity and are investing in renewable energy and 
                working collectively to protect our environment for 
                generations to come.
                </p>
            </div>
        </div>
    </div>
    <div class="row about-wh-history">
        <div class="col">
            <div class="background">
                <div class="history">
                    <p class="title">OUR HISTORY</p>
                    <p class="headline">A World 50+ Years In The Making</p>
                    <p class="description">
                    In 1970, the Frankfurt-based family-owned Steigenberger 
                    Hotel Group launched a reservation system to help luxury 
                    independent hotels in Europe and North America compete in 
                    an increasingly global market. Steigenberger Reservation 
                    Service, later known as SRS Hotels, was firmly established 
                    as a global player in the hospitality industry. <br><br>
                    Since that era, we have made great technological advancements 
                    in our reservation systems, rapidly grown our portfolio 
                    and rebranded to Worldhotels. Ever since the company's 
                    foundation more than 50 years ago, it has continued to 
                    embrace progress. However, throughout this time, the 
                    company's mission to provide access to independent hotels 
                    of luxury, character and distinction has never changed.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="/register" class="btn rounded-pill text-white"
                        role="button" type="button" aria-label="Become A Member" 
                        title="Become A Member">Become A Member</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


