{% extends "base.html" %}
{% block head %}
<title>Experiences at World Hotels UK</title>
<link rel="stylesheet" href="{{url_for("static", filename="css/experience.css")}}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row world-of-inspiration">
        <div class="col">
            <div class="background">
                <div class="intro text-black">
                    <p class="title">A WORLD OF INSPIRATION</p>
                    <p class="first-words">
                    Ignite your wanderlust with World Hotels! From luxurious 
                    resorts to eco-friendly stays, rejuvenating spa and 
                    wellness retreats to exquisite gourmet dining, breathtaking 
                    rooftop views to vibrant hotel bars, we have it all! <br><br>
                    Let us welcome you to a world of difference and help you to 
                    create memories that will last a lifetime.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row art-of-wellbeing">
        <div class="col">
            <div class="art-of-wellbeing-1"></div>
            <div class="art-of-wellbeing-2"></div>
            <div class="wellbeing-art text-black">
                <p class="title">THE ART OF WELLBEING</p>
                <p class="description">
                The growth in popularity of stays that focus on your 
                wellbeing offers a great many benefits to your health, 
                mental balance and even longevity of life! The beauty of 
                the term 'wellness' is that we can decide exactly what 
                is most beneficial to us individually as a traveler.<br><br>
                From nature retreats to scenic wonders, beach yoga, 
                sensational food experiences, spa, sports, or places to 
                truly 'unplug', World Hotels brings you unlimited choices 
                that bring wellbeing to body, mind, and soul. Embark on 
                your own personal (or tailored) wellness journey destined 
                to unwind, far from the noise of the digital world.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="sustainability">
                <div class="background">
                    <div class="title-container text-black">
                        <div class="title">Modern Luxury Meets <br>Sustainability</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="sustainability-description text-white">
                <p>
                Travelling green and embracing your responsibility towards 
                the planet makes for a perfect holiday for modern travelers. 
                Sustainable stays are growing in popularity, with more 
                travelers opting for modern luxury stays that support our 
                environment. We believe that sustainability and luxury can 
                go hand in hand. So, we have gone that extra green mile to 
                find incredibly stylish yet sustainable stays for our guests.
                <br><br>Enjoy great experiences at our sustainable stay offers. 
                Go green with World Hotels properties and find your perfectly 
                climate conscious stay with us.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


