{% extends "base.html" %}
{% block head %}
<title>Change password - World Hotels UK</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/passwordUpdate.css')}}">
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
    <div class="register-form">
        <form action="/changepassword" method="POST">
            <h3>Update password</h3>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter email or phone number" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter previous password" required="required">
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter new password" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Confirm new password" required="required">
            </div>
            
            <div class="btn-continue">
                <button type="submit" class="btn btn-primary btn-block">Continue</button>
            </div>
        </form>
    </div>
    <div class="btn-login">
        <a href="/signin">
            <button class="btn btn-primary btn-block login">Return to Login</button>
        </a>
    </div>
{% endblock %}


