{% extends "base.html" %}
{% block content %}
<div style="width: 100%; height: 150px; background: #001A33"></div>
<div style="width: 100%; height: 30px;"></div>
<!-- Edit Profile Form -->
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Edit Profile</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="email" class="col-form-label">Email</label>
                    {{ form.email(class="form-control", placeholder="Enter email") }}
                </div>
                <div class="form-group">
                    <label for="first_name" class="col-form-label">First Name</label>
                    {{ form.first_name(class="form-control", placeholder="Enter first name") }}
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-form-label">Last Name</label>
                    {{ form.last_name(class="form-control", placeholder="Enter last name") }}
                </div>
                <div class="form-group">
                    <label for="phone_number" class="col-form-label">Phone Number</label>
                    {{ form.phone_number(class="form-control", placeholder="Enter phone number") }}
                </div>
                <br>
                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
            <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{{ url_for('logout') }}'">Logout</button>
            {% if admin_check == True %}
            <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{{ url_for('admin') }}'">Admin Portal</button>
            {% else %}
            {% endif %}
        </div>
</div>
<div style="width: 100%; height: 150px;"></div>
{% endblock %}